.about_us_item {
  margin: 0 10px 20px;
  padding: 10px;
  color: var(--grey-main-color);
  background-color: var(--white-color);
}
/* .about_us_item::before {
  content: '';
  order: 1;
  height: 100px;
  width: 2px;
  background-color: var(--grey-light-color);
} */
.about_us_p {
  order: 2;
  min-width: 200px;
  margin: 20px 10px;
  padding: 0;
}
/* .about_us_p_img {
  display: block;
  width: inherit;
  max-width: 200px;
  height: auto;
  margin-right: 20px;
} */
.credit_cards_p {
  margin: 40px 10px 10px;
}
.credit_cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
}

@media (min-width: 420px) {
  .credit_cards {
    justify-content: flex-start;
    gap: 10px 25px;
  }
  .credit_card_img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 419px) {
  .credit_cards {
    justify-content: center;
    gap: 2px 10px;
  }
  .credit_card_img {
    width: 40px;
    height: 40px;
  }
}
