#contact_section p::before {
  content: '';
  display: inline-block;
  margin: -5px 10px;
  width: 24px;
  height: 24px;
}
#contact_section .p_phone::before {
  background-image: url('../../assets/icons/contact.svg');
}
#contact_section .p_wpp::before {
  background-image: url('../../assets/icons/whatsapp.svg');
}
#contact_section .p_email::before {
  background-image: url('../../assets/icons/email.svg');
}

.form_message {
  margin: 10px 0 0 44px;
  max-width: 680px;
}
.form_message label {
  display: block;
  margin-top: 25px;
}
.form_message label input {
  float: right;
  max-width: 600px;
  height: 30px;
  margin: -5px 0 5px;
}
.form_message textarea {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font: inherit;
  color: var(--grey-main-color);
  resize: none;
}
@media (min-width: 680px) {
  .form_message label input {
    width: 85%;
  }
}
@media (min-width: 420px) {
  #contact_section p {
    font: 18px/22px Helvetica, Arial, sans-serif;
    margin: 30px 0 0;
  }
  .form_message {
    font: 16px/20px Helvetica, Arial, sans-serif;
  }
  .form_message label input {
    width: 80%;
  }
}
@media screen and (max-width: 420px) {
  #contact_section p {
    font: 14px/18px Helvetica, Arial, sans-serif;
    margin: 20px 0 0;
  }
  .form_message {
    font: 14px/20px Helvetica, Arial, sans-serif;
  }
  .form_message label input {
    width: 75%;
  }
}
