/* ---------------------HEADER--------------------- */
:root {
  --header-height: 70px;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: var(--header-height);
  background-color: var(--white-color);
  box-shadow: var(--grey-ulight) 0px 2px 10px;
  z-index: 100;
}
.logo {
  height: 60px;
}
header > button {
  border: none;
  outline: none;
  background-color: inherit;
  padding: 15px 20px;
  cursor: pointer;
}

/* ---------------------MENU--------------------- */
header nav {
  background-color: var(--blue-light-color);
  position: absolute;
  top: var(--header-height);
  width: 250px;
  height: calc(100vh - 55px);
  padding: 25px;
}
.nav_closed {
  left: 100%;
  transition: left 0.5s;
}
.nav_opened {
  left: calc(100% - 250px);
  transition: left 1s;
}
nav a {
  text-decoration: none;
  color: var(--black-color);
  line-height: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
}
nav a:hover {
  background-color: var(--white-color);
}
nav a > img {
  padding-right: 8px;
}

/* ---------------------HOME SECTION--------------------- */
section {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
section:nth-of-type(1) {
  margin-top: calc(var(--header-height) + 5px);
}
