* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font: 10px/13px "Helvetica Neue", "Arial Nova", Helvetica, Arial, sans-serif;
  background-color: #edf2f8;
}
html {
  min-width: 300px;
  min-height: 300px;
}

/* Family fonts */
.serif {
  font-family: "Times New Roman", Times, serif;
}
.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}
/* .monospace {
  font-family: "Lucida Console", Courier, monospace;
} */
