.hero_mod {
  position: relative;
  color: var(--black-color);
  /* background: url('../../../assets/hero-image-ByN.jpg') no-repeat; */
  /* background-size: 100%; */
}

.hero_img {
  width: 200vw;
  height: auto;
  max-width: 100%;
  min-width: 270px;
  max-height: 60vh;
  object-fit: cover; /* to crop the image */
}

.hero_text {
  position: absolute;
  width: 50%;
  min-width: 270px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0 0 10px;
  text-shadow: 5px 3px 8px var(--white-color);
  box-shadow: 10px 10px 30px black;
}

.hero_text p {
  margin: 0 0 15px;
}

@media (min-width: 1024px) {
  .hero_text {
    top: 30px;
    left: 40px;
    font: 700 2.5vw/3vw Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 680px) and (max-width: 1023px) {
  .hero_text {
    top: 30px;
    left: 30px;
    font: 700 20px/24px Helvetica, Arial, sans-serif;
  }
}
@media (min-width: 420px) and (max-width: 679px) {
  .hero_text p {
    margin: 0 0 10px;
  }
  .hero_text {
    top: 20px;
    left: 20px;
    font: 700 18px/22px Helvetica, Arial, sans-serif;
  }
}
@media screen and (max-width: 419px) {
  .hero_text p {
    margin: 0 0 10px;
  }
  .hero_text {
    top: 10px;
    left: 10px;
    font: 700 16px/18px Helvetica, Arial, sans-serif;
  }
}

.split_module {
  display: flex;
  justify-content: space-evenly;
  padding: 7px 10px;
  background-color: var(--white-color);
}
.split_module a {
  text-decoration: none;
  cursor: pointer;
}
.split_module a:hover {
  font-weight: 700;
}
.split_mod_philips {
  color: var(--blue-main-color);
}
.split_mod_aoc {
  color: var(--black-color);
}
.split_mod_bgh {
  color: var(--grey-main-color);
}
.split_mod_telefunken {
  color: var(--red-main-color);
}
.split_mod_hisense {
  color: var(--blue-medium-color);
}

@media (min-width: 1024px) {
  .split_module a {
    font: 2vw/2.5vw Helvetica, Arial, sans-serif;
  }
}
@media (min-width: 420px) and (max-width: 1023px) {
  .split_module {
    padding: 7px 10px;
  }
  .split_module a {
    font: 18px/22px Helvetica, Arial, sans-serif;
  }
}
@media screen and (max-width: 419px) {
  .split_module {
    padding: 5px;
  }
  .split_module a {
    font: 13px/16px Helvetica, Arial, sans-serif;
  }
}
